{% block content %}
  {% if validlink %}
    <h3>Formulario para Cambiar contrasena</h3>
    <form method="post">
      {% csrf_token %}
      <h3>Contrasena: {{ form.new_password1 }}</h3>
      <h2>Reingrese la contrasena </h2>
      <h3>Contrasena{{ form.new_password2 }}</h3>
      <button type="submit">Cambiar Contrasena</button>
    </form>
  {% else %}
    <p>
      El link de cambio de contrasena es invalidado, posiblemente porque ya ha sido 
      utilizado.
      Por favor solicite un nuevo cambio de contrasena. 

    </p>
  {% endif %}
{% endblock %}
